@import url(./reset.css);

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

/*font-family: 'Syne', sans-serif;*/

body {
  min-width: 1250px;

  padding: 0px 25px;
  margin: 10px auto;
  scroll-behavior: smooth;
}

.container {
  min-width: 1210px;
  padding: 0px 20px;
}
.home_page {
  min-height: 963px;
  margin-bottom: 90px;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  border-bottom: 1px solid black;
}

.menu {
  padding-left: 200px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 50px;
}

.menu ul li a {
  color: #444444;
  padding: 7px 0px;
  text-transform: uppercase;
  font-family: "Syne", sans-serif;
  position: relative;
}

.menu ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: 0%;
  height: 2px;
  transition: 0.4s ease;
}
.menu ul li a:hover::before {
  width: 100%;
}

.btn {
  padding: 10px 100px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.btn button a {
  color: #fff;
  background: #000;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 5px;
}

.social ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cont_content1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 10px 0px;
  min-height: auto;
}

.im1 {
  flex: 0.1;
}

.text {
  flex: 1;
  text-align: center;
  font-family: "Syne", sans-serif;
  font-size: 80px;
  margin: 150px 0px 10px 0px;
  line-height: 96px;
  font-weight: 600;
}

.vec {
  flex: 0.1;
  margin: 50px 200px 0px 0px;
}

.cont_content2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}

.c_left {
  flex: 2;
}
.c_left p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 22px;
  text-align: left;
  padding-bottom: 15px;
}
.c_left button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  background: #000;
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 5px;
}
.c_left .im2 img {
  margin-top: 100px;
}

.c_cent {
  flex: 1;
}

.c_right {
  flex: 2;
}

.main1 {
  min-height: 80px;
  min-width: 1171px;
}
.main1_cont {
  padding: 80px 10px 81px 10px;
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.main1_text {
  font-size: 24px;
  font-family: "Syne", sans-serif;
  flex: 1;
  padding: 10px;
  border-right: 1px solid black;
}
.main1_logos {
  flex: 3;
}
.main1_logos ul {
  display: flex;
  flex-direction: row;
  column-gap: 140px;
}

.main2 {
  min-width: 1171px;
  min-height: 495px;
}
.main2_cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 130px;
  align-items: center;
}

.main2_texts h1 {
  font-size: 14;
  color: #333333;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.main2_texts .main2_p1 {
  font-family: "Syne", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.main2_texts .main2_p2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  min-width: 300px;
  padding: 23px 0px 39px 0px;
}

.main2 .main2_texts button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  background: #000;
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Syne", sans-serif;
}

.main2 .main2_cards {
  display: grid;
  grid-template-columns: repeat(2, 269px);
}
